body{
    margin: 0 auto;
}

.container{
    display: block;
    background-color: chartreuse;
    width: 1000px;
    height: 1200px;
}

.block{
    display: block;
    background-color: white;
    width: 250px;
    height: 300px;
}